<app-navbar></app-navbar>
<div class="bootstrap-wrapper">
<div class="container">
<div class="row">
<div class="col-md-6 offset-md-3">
    <mat-card>
    <div class="container text-center">
        <img src="../../../assets/logo.png" alt="">
            </div>
            <h1 class="text-center">Login</h1>
            <form (ngSubmit)="submitForm()">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Username</mat-label>
                    <textarea matInput required [(ngModel)]="loginData.username" name="username" placeholder="Enter Username"></textarea>
                  <mat-hint>Username is required!!</mat-hint>
            </mat-form-field>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" required [(ngModel)]="loginData.password" name="password" matInput placeholder="Enter Your Password"/>
                <mat-hint>Password is required!!</mat-hint>  
            </mat-form-field>
        <div class="container text-center">
            <button type="submit" mat-raised-button color="primary">Login</button>
            <button style="margin-left: 20px;" mat-raised-button color="primary">Reset</button>
            </div>
            </form>
        </mat-card>
</div>

</div>

</div>

</div>